html,body
    height: 100%

.application
  height: 100%
  background: #fff url('assets/logo.svg') center top no-repeat
  background-size: cover

.uw_application
  display: flex
  height: 100%

  &--container
    margin: auto
    box-shadow: 0px 2px 5px #444
    background-color: #fff
  &--subcontainer
    padding: 20px

@import './side.sass'
@import './container-index.sass'
@import './container-html.sass'
