$sideBg : #fff
$activeColor: #00796b

.uw_application
  &--container
    & > .row
      height: 100%
      margin: 0px
      padding: 0px
      & > .col
        height: 100%
        padding: 0px
        margin: 0px

  &--side
    height: 100%
    background: $sideBg !important
    box-shadow: 0px 1px 1px #444
    .logo
      text-align: center
      color : $activeColor
      font-size: 32px
      font-weight: bold
      padding: 20px
    .collection
      border: none
      padding: 0px
      margin: 0px
    li.collection-item
      border: none
      background: $sideBg !important
      padding: 0px
      cursor: default
      & > div
        padding: 20px
      .control
        a
          cursor: default
          padding: 2px 5px
          color: #828282
        border-bottom: 1px solid #888
        span
          font-size: 22px

        i
          font-size: 22px
          margin-right: 5px
      .description
        padding-top: 5px
        color: #444
      .enabled
        .control
          a
            cursor: pointer
            font-weight: bold
            color: $activeColor
            background: linear-gradient($activeColor, darken($activeColor,3%)) bottom no-repeat
            background-size: 100% 0px
            transition: background-size .1s, color .15s
            border-bottom: 1px dashed $activeColor
            &:hover
              //background: #00695c
              color: #fff
              background-size: 100% 100%
              transition: background-size .1s, color .15s

        .description
    li.collection-item.active
      background: darken(#fff, 2%) !important
