.uw_application
  &--container
    & > .row
      height: 100%
      margin: 0px
      padding: 0px
      & > .col
        height: 100%
        padding: 0px
        margin: 0px

  &--side
    height: 100%
    background: radial-gradient(#673ab7, lighten(#673ab7, 5%))
    padding: 10px
    .logo
      font-size: 18px
      text-align: right
      color : #fff
